body {
    margin: 0px;
    background: black;
}

header {
    height: auto;
    overflow: hidden;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}