body, html {
    height: 100%;
    margin: 0;
    background-color: #5a5859;
}

.bg {
    background-image: url("exchange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header {
    color: black;
    text-align: center;
}

#rel {
    text-align: center;
    color: #f6fafb;
    font-weight: bold;
    font-size: 100px;
    width: 450px;
    background-color: black;
    border-radius: 15px;
    margin: 150px;
}

